@import "reset";

//! Universal Styles
.container {
    width: 75%;
    margin: 0 auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 2.5em;
    padding: 0 2em;
}

//! Main Styles

//// Form
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 31rem;

        label {
            margin-right: 2em;
        }

        select {
            width: 10em;
            margin-left: 0.4em;
            outline: none;
            height: 2.3em;
            border: none;
            //border-color: rgb(30, 165, 255);
            background-color: #caebff;
            transition: all 0.3s ease-out;

            &:hover {
                width: 11em;
            }
        }
    }

    .btn-showlist {
        background-color: #1688d4;
        color: #fff;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: rgb(30, 165, 255);
            font-size: 13.5px;
        }
    }
}

//// Table Section
section.table-section {
    //background-color: green;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .table {
        height: 78vh;
        width: 100%;

        tr {
            &:nth-of-type(odd) {
                background-color: #caebff;
            }
        }

        th, td {
            width: 10.667rem;
        }

        th {
            font-size: 1.2em;
        }

        td {
            text-align: center;
        }
    }
}

//// Footer Seciton
.footer {
    font-weight: 600;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
