@import "reset";

//! Universal Styles
.container {
    width: 75%;
    max-width: 80%;
    margin: 0 auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    padding: 0.8em 1.3em;
}

//! Main Styles

//// Form
.form {
    //background-color: red;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label {
        margin-right: 2em;
    }

    select {
        width: 10em;
        margin-left: 0.4em;
        outline: none;

        border-color: rgb(30, 165, 255);
    }

    .btn-showlist {
        background-color: rgb(22, 136, 212);
        color: #fff;

        &:hover {
            background-color: rgb(30, 165, 255);
        }
    }
}

//// Table Section
section.table-section {
    //background-color: green;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .table {
        height: 78vh;
        width: 100%;

        th {
            font-size: 1.2em;
        }

        td {
            text-align: center;
        }
    }
}

//// Footer Seciton
.footer {
    //background-color: yellow;
    font-weight: 600;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
